## 说明
```
"平台登入":{
    "平台登入时间":"6",
    "登入流水号":"2",
    "平台用户名":"12",
    "平台密码":"20",
    "加密规则":"1"
},
```

## 导入工具包和公共函数

In [1]:
import Ipynb_importer
from public_fun import *

importing Jupyter notebook from public_fun.ipynb

In [2]:
import sys
import globalVar as glv

## 类主体

In [3]:
class fun_07_05(object):
    def __init__(self, data):
        self.cf = [6, 2, 12, 20, 1]
        self.cf_a = hexlist2(self.cf)
        self.o = data[0:self.cf_a[-1]]
        self.list_o = [
            "平台登入时间",
            "登入流水号",
            "平台用户名",
            "平台密码",
            "加密规则",
        ]
        self.oj = list2dict(self.o, self.list_o, self.cf_a)
        print(self.oj)
        self.ol = pd.DataFrame([self.oj]).reindex(columns=self.list_o)
        self.pj = {
            "平台登入时间":get_datetime(self.oj['平台登入时间']),
            "登入流水号":hex2dec(self.oj['登入流水号']),
            "平台用户名":hex2str(self.oj['平台用户名']),
            "平台密码":hex2str(self.oj['平台密码']),
            "加密规则":dict_list_replace('07_05_05',self.oj['加密规则']),
        }
        self.pl = pd.DataFrame([self.pj]).reindex(columns=self.list_o)
        
        self.next = data[len(self.o):]
        self.nextMark = data[len(self.o):len(self.o)+2]
        
#         glv.set_value('data_f', self.next)
#         glv.set_value('data_mo', self.mo)

## 执行

In [ ]:
# 
data = "130c1e0d371700033839383630363137303330303831303036303531010c313137333831333033383430dc"
fun_07_05 = fun_07_05(data)

## 结果

In [5]:
fun_07_07.oj

{'登出时间': '130c1e0d3717', '登出流水号': '0003'}

In [6]:
fun_07_07.ol

           登出时间 登出流水号
0  130c1e0d3717  0003

In [7]:
fun_07_07.pj

{'登出时间': '2019-12-30 13:55:23', '登出流水号': 3}

In [8]:
fun_07_07.pl

                  登出时间  登出流水号
0  2019-12-30 13:55:23      3

In [9]:
fun_07_07.cf

[6, 2]

In [10]:
fun_07_07.cf_a

[0, 12, 16]