## 说明

```
"车辆位置数据":{
    "定位状态":"1",
    "经度":"4",
    "纬度":"4",
}
```

## 导入工具包和公共函数

In [1]:
import Ipynb_importer
from public_fun import *

importing Jupyter notebook from public_fun.ipynb

## 类主体

In [10]:
class fun_07_02_05(object):
    def __init__(self, data):
        self.cf = [1, 4, 4]
        self.cf_a = hexlist2(self.cf)
        data = data[2:]
        self.o = data[0:self.cf_a[-1]]
        self.list_o = [
            "定位状态",
            "经度",
            "纬度",
        ]
        self.oj = list2dict(self.o, self.list_o, self.cf_a)
        self.oj2 = {'车辆位置数据':self.oj}
        self.ol = pd.DataFrame([self.oj]).reindex(columns=self.list_o)
        self.pj = {
            '定位状态' : fun_07_02_05.fun_01(self.oj['定位状态']),
            '经度' : hex2dec(self.oj['经度'], k=0.000001),
            '纬度' : hex2dec(self.oj['纬度'], k=0.000001),
        }
        self.pj2 = {'车辆位置数据':self.pj}
        self.pl = pd.DataFrame([self.pj]).reindex(columns=self.list_o)
        
        self.next = data[len(self.o):]
        self.nextMark = data[len(self.o):len(self.o)+2]
        
    def fun_01(data):
        n = '{:08b}'.format(int(data, 16))    
        state = n[-1]
        longitude = n[-2]
        latitude = n[-3]
        
        if state == '0':
            state_s = "定位有效"
        else :
            state_s = "定位无效"
        
        if longitude == '0':
            longitude_s = "北纬"
        else :
            longitude_s = "南纬"
        
        if latitude == '0':
            latitude_s = "东经"
        else :
            latitude_s = "西经"
        
        output = [n, state_s, longitude_s, latitude_s]
        return output

## 执行

In [11]:
data = "0500072035A801EAC74A060179100E010D0FC801013C01043A0700000000000000000009010100483C3B3C3A3B3B3C3A3B3B3B3A3B3B3B3A3B3B3B3B3B3A3B3C3B3B3C3B3C3A3B3C3B3A3B3B3B3B3B3A3C3B3C3A3B3B3B3A3B3B3B3A3B3B3B3B3B3A3B3C3B3A3B3B3C3A3B3B3B3A3B3B0801011706273C00900001900FFA10040FFA0FFA0FFA0FFA10040FFA1004100410040FFA0FC8100410041004100410041004100410040FFA10041004100410041004100410040FFA10040FFA0FFA0FFA10040FFA0FFA0FFA0FFA100410040FFA0FFA100410040FFA0FFA10040FFA0FFA0FFA10040FFA0FFA0FFA0FFA0FFA0FFA0FF00FFA0FFA0FFA10040FFA0FFA100410040FF010040FFA0FFA0FFA0FFA0FFA10040FFA0FFA0FFA100410040FFA0FF00FFA0FFA0FFA0FFA0FFA0FFA0FFA10040FFA0FFA10041004100410040FFA0FFA0FFA0FFA0FFA0FFA0FFA0FFA0FFA100410040FFA0FFA1004100410040FFA0FFA0FFA0FFA0FFA0FFA0FFA0FFA100E0FF00FFA0FFA0FFA0FFA100410040FFA100410040FFA10040FFA10040FFA100410040FFA10041004100410040FFAAB"

fun_07_02_05 = fun_07_02_05(data)

## 结果

In [13]:
fun_07_02_05.o

'00072035A801EAC74A'

In [14]:
fun_07_02_05.oj

{'定位状态': '00', '经度': '072035A8', '纬度': '01EAC74A'}

In [15]:
fun_07_02_05.ol

  定位状态        经度        纬度
0   00  072035A8  01EAC74A

In [16]:
fun_07_02_05.pj

{'定位状态': ['00000000', '定位有效', '北纬', '东经'], '经度': 119.5514, '纬度': 32.163658}

In [17]:
fun_07_02_05.pl

                       定位状态        经度         纬度
0  [00000000, 定位有效, 北纬, 东经]  119.5514  32.163658

In [18]:
fun_07_02_05.next

'060179100E010D0FC801013C01043A0700000000000000000009010100483C3B3C3A3B3B3C3A3B3B3B3A3B3B3B3A3B3B3B3B3B3A3B3C3B3B3C3B3C3A3B3C3B3A3B3B3B3B3B3A3C3B3C3A3B3B3B3A3B3B3B3A3B3B3B3B3B3A3B3C3B3A3B3B3C3A3B3B3B3A3B3B0801011706273C00900001900FFA10040FFA0FFA0FFA0FFA10040FFA1004100410040FFA0FC8100410041004100410041004100410040FFA10041004100410041004100410040FFA10040FFA0FFA0FFA10040FFA0FFA0FFA0FFA100410040FFA0FFA100410040FFA0FFA10040FFA0FFA0FFA10040FFA0FFA0FFA0FFA0FFA0FFA0FF00FFA0FFA0FFA10040FFA0FFA100410040FF010040FFA0FFA0FFA0FFA0FFA10040FFA0FFA0FFA100410040FFA0FF00FFA0FFA0FFA0FFA0FFA0FFA0FFA10040FFA0FFA10041004100410040FFA0FFA0FFA0FFA0FFA0FFA0FFA0FFA0FFA100410040FFA0FFA1004100410040FFA0FFA0FFA0FFA0FFA0FFA0FFA0FFA100E0FF00FFA0FFA0FFA0FFA100410040FFA100410040FFA10040FFA10040FFA100410040FFA10041004100410040FFAAB'

In [19]:
fun_07_02_05.nextMark

'06'